.users{
    font-size: 18px;
    /*background-color: lavenderblush ;*/
    /*width: 75%;*/
    box-shadow: 3px 3px 7px #b9b9b9;
    border-radius: 10px;
    background-color: #c4ddff;
    overflow-x: auto;
    /*max-height: calc(100vh - 434px);*/
    height: calc(100vh - 434px);
    min-height: 476px;
    box-sizing: border-box;
}

@media (max-width: 1000px){
    .users{
        height: calc(100vh - 763px);
        min-height: 620px;
    }
}

