.dialogs{
    font-size: 18px;
    background-color: lightcyan ;
    width: 75%;
    /*display: flex;*/
    /*flex-direction: row;*/
    display: grid;
    grid-template-columns: minmax(200px, 15%) minmax(450px, 75%);
}

.dialogs .dialogUsers{
    /*width: 15%;*/
    background-color: rgb(170, 255, 255);
    padding-bottom: 15px;
}

.dialogs .messages{
    /*width: 75%;*/
    padding: 0 0 0 10px;
}

.dialogs .messages textarea{
    margin: 30px 0 30px 30%;
    font-size: 18px;
    width: 45%;
    border-radius: 13px;
}

.dialogs .messages button{
    font-size: 14px;
    background-color: rgb(170, 255, 255);
    border: lightgrey solid 1px;
    padding: 7px;
    border-radius: 13px;
    margin-bottom: 20px;
}