.dialogs{
    font-size: 18px;
    /*background-color: lightcyan ;*/
    /*width: 75%;*/
    box-shadow: 3px 3px 7px #b9b9b9;
    border-radius: 10px;
    background-color: #c4ddff;
    overflow-x: auto;
    display: grid;
    grid-template-columns: minmax(200px, 15%) 1fr;
    height: calc(100vh - 434px);
    min-height: 476px;
    box-sizing: border-box;
}

.dialogs .dialogUsers{
    background-color:  #87b1ff;
    border-radius: 10px 0 0 10px;
    padding-bottom: 15px;
}

.dialogs .messages{
    /*width: 75%;*/
    padding: 0 0 0 10px;
}



@media (max-width: 1000px){
    .dialogs{
        height: calc(100vh - 763px);
        min-height: 620px;
    }
}