.section{
    font-size: 25px;
    background-color: rgb(204, 252, 204);
    padding-top: 10px;
    width: 75%;
}

.section textarea{
    margin: 30px 25px;
    font-size: 18px;
    width: 35%;
    border-radius: 13px;
}

.section button{
    margin-bottom: 25px;
    font-size: 14px;
    background-color: rgb(166, 247, 166);
    border: lightgrey solid 1px;
    padding: 7px;
    border-radius: 13px;
}