.section{
    font-size: 25px;
    padding-top: 10px;
    box-shadow: 3px 3px 7px #b9b9b9;
    border-radius: 10px;
    background-color: #c4ddff;
    width: 100%;
    overflow-x: auto;
    max-height: calc(100vh - 434px);
}

.section textarea{
    margin: 30px 25px;
    font-size: 18px;
    width: 35%;
    border-radius: 13px;
}

.section button{
    margin-bottom: 25px;
    font-size: 14px;
    background-color: #87b1ff;
    border: lightgrey solid 1px;
    padding: 7px;
    border-radius: 13px;
}

.section button:hover{
    cursor: pointer;
    transform: scale(1.035);
}