.message{
    margin: 18px 0 0 10px;
    display: grid;
    grid-template-columns: 70px 1fr;
}

.message .imgContainer{
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
}

.message .imgContainer img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    object-fit: cover;
}

.message .messageContainer{
    margin-left: 20px;
    background-color: rgb(170, 255, 255);
    border-radius: 20px;
    padding: 7px 0 7px 10px;
}

.message .messageContainer .timeContainer{
    font-size: 15px;
    padding: 7px 0 0 10px;
}

.m{
    background-color: rgb(170, 255, 255);
    border-radius: 20px;
}