.videos{
    /*width: 75%;*/
    text-align: center;
    box-shadow: 3px 3px 7px #b9b9b9;
    border-radius: 10px;
    background-color: #c4ddff;
    overflow-x: auto;
    max-height: calc(100vh - 434px);
}