.flexContainer .icon{
    width: 30px;
    margin-top: 6px;
    transition: transform 1s
}

.flexContainer .icon:hover{
    transform: rotate(360deg);
}

.flexContainer .icon img{
    width: 100%;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexContainer p{
    margin: 12px 0 12px 7px;
}